.cartcontrol {
  .cart-decrease {
    display: inline-block;
    padding: .3rem;
    transition: all 0.4s linear;
    .inner {
      line-height: 1.2rem;
      font-size: 1.2rem;
      color: rgb(0, 160, 220);
      transition: all 0.4s linear;
    }
    &.fadeRotate-enter-active, &.fadeRotate-leave-active {
      transform: translate3d(0, 0, 0);
      .inner {
        display: inline-block;
        transform: rotate(0);
      }
    }
    &.fadeRotate-enter, &.fadeRotate-leave-active {
      opacity: 0;
      transform: translate3d(1.2rem, 0, 0);
      .inner {
        transform: rotate(180deg);
      }
    }
  }
  .cart-count {
    display: inline-block;
    vertical-align: top;
    font-size: .8rem;
    color: rgb(147, 153, 159);
    line-height: 1.2rem;
    text-align: center;
    padding: .3rem 0;
  }
  .cart-add {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    color: rgb(0, 160, 220);
    line-height: 1.2rem;
    padding: .3rem;
  }
}
